<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Debug;ReferencedAssemblies" />
    </assemblyBinding>
    <!-- We disable concurrent garbage collection because we are not a user-interactive application. -->
    <gcConcurrent enabled="false"/>
  </runtime>
</configuration>